<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AE88B321F48B33A00E43333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE88B461F48B33A00E43333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE88B511F48B33B00E43333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
